a, a:hover, a:focus {
    text-decoration: none;
    color: #ffda35;
}

.card {
    width: 50%;
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
}

.col {
    display: grid;
    justify-items: center;
}
