{% extends "base.html" %}
{% load static %} <!-- ПОПРОБЫВАТЬ БЕЗ -->

{% block links %}
<!-- Бутстрап переписывает стили для тегов которые уже используются. Некоторые элементы нужно переписывать в своем css файле -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'styles/prelude.css' %}">
{% endblock %}

{% block title %}
    Крестики нолики
{% endblock %}

{% block content %} 
<div class="prelude">
{% if messages %}
    {% for message in messages %}
        <div clas="alert alert-danger">
            {{ message }}
        <div>
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    <h3>КРЕСТИКИ НОЛИКИ</h3>
    <p>Введите имя игрока</p>
        <input name="username" class="form-control form-control-lg" type="text" placeholder="Имя игрока">
    <p>Настройки игры</p>
        <select name="option" class="custom-select custom-select-lg mb-3">
          <option selected>Выбор</option>
          <option value="1">Ввести код комнаты</option>
          <option value="2">Создать комнату</option>
        </select>
    <p>Введите номер игровой комнаты</p>
        <input name="room_code" class="form-control form-control-lg" type="text" placeholder="Номер игры">
    <button type="submit" class="btn btn-secondary">Играть</button>
<form>
</div>
{% endblock %}
