<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/mobile.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    {% block links %} {% endblock %}
    <title>
        {% block title %} Обо мне {% endblock %}
    </title>
</head>

<body>
	<header>
		<nav class="topnav">
            <a href="https://github.com/Maligoris" class="me_logo" target="_blank"><img src="{% static 'img/me_logo.png' %}" alt="me_logo" id="me_logo"></a> 
			<div class="header_W">

            {% block navigation %}
                <a class="header_word" href="http://localhost">БЛОГ</a>
				<a class="header_word" href="http://localhost/gallery">ГАЛЕРЕЯ</a>
				<a class="header_word" href="http://localhost/about_me">ОБО МНЕ</a>
				<a class="header_word" href="http://localhost/games">ПРОЧЕЕ</a>
            {% endblock %}

			</div>
            <a href="https://vk.com/id33170485" class="vk_link" target="_blank"><img src="{% static 'img/vk.png' %}" alt=""></a>
            <div class="hamburger_box"><a href="#" id="menu_m"><span></span></a></div>
		</nav>
	</header>


	<main>
        <div class="overlay">
            <div class="container_flex">
                <div class="flex_items">
                    <a href="https://github.com/Maligoris" class="me_logo_up" target="_blank"><img src="{% static 'img/me_logo.png' %}" alt="me_logo" id="me_logo_up"></a>
                    <a class="up_word" href="http://localhost">БЛОГ</a>
                    <a class="up_word" href="http://localhost/gallery">ГАЛЕРЕЯ</a>
                    <a class="up_word" href="http://localhost/about_me">ОБО МНЕ</a>
                    <a class="up_word" href="http://localhost/games">ПРОЧЕЕ</a>
                </div>
            </div>
        </div>

		<div class="main_back">
            <div id="chat_box">
            {% block chat %} {% endblock %}
			</div> 

            {% block weather %} {% endblock %}

            {% block content %} {% endblock %}
		</div> 
	</main>


	<footer class="all_footer">
		<div class="footer">
			<p>iqgenius@yandex.ru</p>
            <a href="mailto:iqgenius@yandex.ru" id="email"><img class="email" alt="email" src="{% static 'img/email.svg' %}"></a>
		</div>
	</footer> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="{% static 'js/base_mobile.js' %}"></script>
    {% block links_js %} {% endblock %}
</body>
</html>
