<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    {% block links %} {% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <title>
        {% block title %}
            Обо мне
        {% endblock %}
    </title>
</head>
<body>
	<header>
		<nav class="topnav">
            <a href="https://github.com/Maligoris" class="me_logo"><img src="{% static 'img/me_logo.png' %}" alt="me_logo" id="me_logo"></a>

			<div class="header_W">
            {% block navigation %}
				<a class="header_word" href="http://localhost:8000">ОБО МНЕ</a>
                <a class="header_word" href="weather">ПОГОДА</a>
				<a class="header_word" href="chat">ГАЛЕРЕЯ</a>
				<a class="header_word" href="#">БЛОГ</a>
            {% endblock %}
			</div>

            <a href="https://vk.com/id33170485" class="vk_link"><img src="{% static 'img/vk.png' %}" alt=""></a>
			<a href="" id="menu" class="myLinkModal">&#9776;</a>
			<a href="" class="myModal__close">&#9587;</a>
		</nav>
	</header>

	<main>
		<div class="main_back">
            <div id="chat_box">
            {% block chat %} {% endblock %}
			</div>
            {% block weather %} {% endblock %}

		</div>
            <div class="overlay">
                <div class="container_flex">
                    <div class="flex_items">
                        <a href="https://github.com/Maligoris" class="me_logo_up"><img src="{% static 'img/me_logo.png' %}" alt="me_logo" id="me_logo_up"></a>
                        <a class="up_word" href="#">БЛОГ</a>
                        <a class="up_word" href="#">ГАЛЕРЕЯ</a>
                        <a class="up_word" href="#">ОБО МНЕ</a>
                    </div>
                </div>
            </div>
    
	</main>

	<footer class="all_footer">
		<div class="footer">
			<p>iqgenius@yandex.ru</p>
            <a href="mailto:iqgenius@yandex.ru" id="email"><img class="email" src="{% static 'img/email.svg' %}"></a>
		</div>
	</footer>
</body>
</html>
