<button class="open-button" onclick="openForm()">Чат</button>
<div class="chat-popup" id="myForm">
    <form action="" class="form-container">
        <h1>Чат</h1>
        <label id="chatbotOutput" class="chatbotOutput" for="msg">Сообщение</label>
        <textarea id="chatbotInput" class="chatbotInput" placeholder="Напишите что-нибудь..." name="msg" required></textarea>
        <button id="submitButton" type="submit" class="btn">Отправить</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
    </form> 
</div>
