/* Стили Bootstrap могут переписывать стили которые уже используются тут */
*{ margin: 0; padding: 0; }
body {font-family: Arial, Helvetica, sans-serif;}

a {
	text-decoration: none;
}



header {
	background: #6e6e6e;
}

/*Отступы для заголовков */
.topnav {
	display: grid;
	grid-template-columns: minmax(auto, 100px) 1fr minmax(auto, 100px);
	grid-template-rows: 80px;
	justify-items: center;
	align-items: center;
}


/*Мое Круглое Фото*/
#me_logo {
	border-radius: 50%;
	width: 70px;
	height: 70px;

}

.header_W {
	display: grid;
	grid-template-columns:repeat(5, 1fr);
	grid-column-gap: 20px;

}

.header_word {
	font-weight: 600;
	color: white;
	font-size: 18px;
}

.header_word:hover {
	border-bottom: 2px solid yellow;
}



.main_back {
	height:900px;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/fon.jpg);
	overflow: auto;
}


footer {
	background: #6e6e6e;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px;
	justify-items: center;
	align-items: end;
}

.footer {
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	grid-column-gap: 10px ;
}


.footer p {
	font-weight: 600;
	color: white;
	font-size: 18px;
}


.email {
	width: 45px;
	height: 45px;
}


.overlay, .myModal__close, .myLinkModal {
	display: none;
}

@media screen and (max-width: 768px){ /*Стили этого запроса будут применяться только для экранных устройств с шириной области просмотра не более 768px */
	.topnav {
		display: grid;
		grid-template-rows: 50px;
		grid-template-columns:95%;
		justify-items: right;
	}

	.me_logo, .vk_link, .header_word, .header_W, .open-button {
		display: none;
	}




	.overlay {
		align-items: center;
		grid-template-rows: 40%;
		height: 898px;
		background: #6e6e6e;
		display: none;
	}

	.me_logo_up {
		height: 70px;
	}

	#me_logo_up {
		border-radius: 50%;
		width: 160px;
		height: 160px;
	}

	.container img {}


	.container_flex {
		display: flex;
		text-align: center;
		justify-content: center;
	}

	.flex_items {
		display: flex;
		flex-direction: column;
	}

	.flex_items a {
		font-weight: 600;
		color: white;
		font-size: 18px;
		flex-basis: 100%;
	}

	.myLinkModal{
		display: block;
		color: white;
		font-size: 150%;
	}

	.myModal__close {
		display: none;
		color: white;
		font-size: 150%;
	}






	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive a.myLinkModal{
		position: absolute;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

@media screen and (max-width: 420px){
	.advantages{
		flex-direction: column;
	}
	.advantages_item{
		width: 100%;
	}
}
