/* Стили Bootstrap могут переписывать стили которые уже используются тут */
*{margin: 0; padding: 0;}
a, a:hover, a:focus {text-decoration: none;}
body {font-family: Arial, "Helvetica", sans-serif;}

/* --------------ВЕРХ------------------------ */
header {
	background-color: rgb(39, 39, 39);
}

/*Отступы для заголовков */
.topnav {
	display: grid;
	grid-template-columns: minmax(auto, 100px) 1fr minmax(auto, 100px);
	grid-template-rows: 80px;
	justify-items: center;
	align-items: center;
}

#me_logo {
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

.header_W {
	display: grid;
	grid-template-columns:repeat(5, 1fr);
	grid-column-gap: 20px;
}

.header_word {
    display: inline-block;
    line-height: 1; 
	font-weight: 600;
	font-size: 18px;
    color: #FFDA35; 
}

.header_word:after {
    display: block; 
    content: ""; /* контента в данном блоке не будет поэтому в кавычках ничего не ставим */
    height: 3px; /* задаём высоту линии */
    width: 0%; /* задаём начальную ширину элемента (линии) */
    background-color: yellow; /*цвет фона элемента */
    transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды) */
}

.header_word:hover:after,
.header_word:focus:after {
    width: 100%;
}

.hamburger_box {
  display: none;
  position: absolute;
  top: -10px;
  height: 50px;
  width: 70px; 
}

.overlay, .hamburger_box__close, .hamburger_box {
	display: none;
}

/* ---------------ЦЕНТР---------------------*/
.overlay {
    position: absolute;
    align-items: center;
    height: 100vh;        
    width: 100%;
    background: #6e6e6e;
}

.main_back {
    height: 100vh;        
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/fon.jpg);
	overflow: hidden;
}

/* ---------------НИЗ--------------------*/
footer {
	/* background: #6e6e6e; */
	background-color: rgb(39, 39, 39);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px;
	justify-items: center;
	align-items: end;
}

.footer {
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	grid-column-gap: 10px ;
}

.footer p {
	font-weight: 600;
	color: white;
	font-size: 18px;
}

.email {
	width: 45px;
	height: 45px;
}


@media screen and (max-width: 768px){
/*Стили этого запроса будут применяться только для экранных устройств с шириной области просмотра не более 768px */
	.topnav {
		display: grid;
		grid-template-rows: 50px;
		grid-template-columns:95%;
		justify-items: right;
	}

	.me_logo, .vk_link, .header_word, .header_W, .open-button {
		display: none;
	}

	.hamburger_box {
		display: block;
        background: #272727;
	}

	.hamburger_box__close {
		display: none;
		color: white;
		font-size: 130%;
	}

    #menu_m {
        position: absolute;
        cursor: pointer; 
        left: 18px;
        top: 22px;
        padding: 10px 35px 16px 0px;
    }    

    #menu_m span,
    #menu_m span:before,
    #menu_m span:after {
        display: block; 
        position: absolute;
        cursor: pointer; 
        content: '';
        border-radius: 1px; 
        background: white;
        height: 5px; 
        width: 35px;
        transition: all 300ms ease-in-out;
    }

    #menu_m span:before {
        top: -10px;
    }

    #menu_m span:after {
        bottom: -10px;
    }

    #menu_m.active span {
        background-color: transparent;
    }

    #menu_m.active span:before, #menu_m.active span:after {
        top: 0;
    }

    #menu_m.active span:before {
        transform: rotate(45deg);
    }
    #menu_m.active span:after {
        transform: rotate(-45deg);
    }

	.topnav.responsive{
		position: relative;
	}

	.topnav.responsive a.hamburger_box{
		position: absolute;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.container_flex {
		display: flex;
		text-align: center;
		justify-content: center;
	}

	.flex_items {
        margin-top: 15px;
		display: flex;
		flex-direction: column;
	}

	.flex_items a {
		font-weight: 600;
		color: white;
		font-size: 18px;
		flex-basis: 100%;
        color: #FFDA35; 
        margin: 5px 0px;        
	}

	.me_logo_up {
		height: 70px;
	}

	#me_logo_up {
		border-radius: 50%;
		width: 160px;
		height: 160px;
	}
}
    
a, a:hover, a:focus {text-decoration: none;}


@media screen and (max-width: 420px){
	.advantages{
		flex-direction: column;
	}
	.advantages_item{
		width: 100%;
	}
}
