a, a:hover, a:focus { 
    text-decoration: none; 
    color: #ffda35;
}

.main_back {
    background-image: none;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.main_back h3{
    text-align: center;
}  

#start_play {
    margin-left: 40%;
}

.alert {
    text-align: center;
}

.prelude {
    width: 30%;
}

footer {
    display: grid;
}
